/* Common ------------------------------------------------------------------ */
	html, body, div, span, applet, object, svg, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, burger, nav, output, ruby, section, summary, time, mark, audio, video, {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, svg, video {
		display: block;
	}
	body {
		line、-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}
/* Body -------------------------------------------------------------------- */
	html {
		font-family: "georgia", serif;
		font-size: 16px;
	}

	body {
		background: #fff;
		color: #334;
		margin:0;
	}
	header p{
		text-align: justify;
	}
	main p{
		text-align: justify;
	}
	header {
		font-family: "trajan-sans-pro", sans-serif;
		font-weight: 500;
		text-align: center;
		position: relative;
		animation: splash 2s forwards ease-out;
	}
	header #title {
		background: transparent url("../img/headimg.png") center center no-repeat;
		background-size: cover;
		background-position-x: 45%;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		min-height: calc(100vh - 10rem);
		padding: 10rem 0 0 0;
	}
	header #title h1 {
		background-color: rgba(0, 0, 0, .5);
		font-size: 12.6vmin;
		line-height: 15vmin;
		letter-spacing: 1.8vmin;
		color: #fff;
		text-shadow: 0 7px 7px rgba(0, 0, 26, .5);
		opacity: 100;
		width: calc(100%);
		padding-top: 40px;
		padding-bottom: 40px;
		animation: splash 3s 1s forwards ease-out;
	}
	header #title h1 span {
		font-weight: 700;
		font-size: 4vmin;
		line-height: 5vmin;
		letter-spacing: 1.5vmin;
		display: block;
		margin-top: 3vmin;
	}


/* Section ----------------------------------------------------------------- */
	
	section {
		position: relative;
		padding: 1rem 0 1rem 0;
	}
		section h2 {
			font-weight: 700;
			font-size: 1.25rem;
			line-height: 2rem;
			letter-spacing: 3px;
			text-align: center;
			width: calc(100% - 40px);
			max-width: 715px;
			margin: 0 auto 1rem auto;
		}
		section > p {
			font-size: 1rem;
			line-height: 1.5rem;
			width: calc(100% - 40px);
			max-width: 470px;
			margin: 1rem auto;
		}
	
	#chapter0 {
		background: #fff  center bottom repeat-x;
		background-size: 1800px 100px;
		transition: all 1s ease-in-out;
	}
	#chapter1 {
		background-size: 1800px 100px;
		transition: all 1s ease-in-out;
		background-color: #fff;
		padding-top:0;
	}

		#chapter0.fade,
		#chapter1.fade,
		#chapter2.fade,
		#chapter3.fade,
		#chapter4.fade {
			color: #ccd;
			background-color: #334;
		}
	#chapter2 {
		background: #fff url() center bottom repeat-x;
		background-size: 1800px 100px;
	}
	#chapter3 {
		background: #fff center bottom repeat-x;
		background-size: 1800px 100px;
	}
/* 图片的相关设置 ------------------------------------------------------------------ */

	figure {
		width: 100%;
		max-width: 470px;
		margin: 1rem auto;
	}
		figure.big {
			max-width: 960px;
			transition: none !important;
		}
			figure.big img {
				cursor: initial !important;
			}
		figure img {
			width: 100%;
		}
		figure figcaption,
		.scheme .caption {
			font-family: 'proxima-nova', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 0.8rem;
			line-height: 1.5rem;
			text-align: center;
			color: #99a;
			margin: .75rem 0 0 0;
		}

		.zoom img {
			cursor: initial;
		}
			.zoom img.magnify {
				cursor: initial;
				transform: none;
			}
		@media (min-width: 960px) {
			.zoom img {
				cursor: zoom-in;
				transform-origin: 50% 50%;
				transition: transform .5s ease-in-out;
			}
				.zoom img.magnify {
					cursor: zoom-out;
					transform: scale(2.0425532) !important;
				}
		}

/*footer-------------------------------------------------------------------------------*/

	footer {
		font-weight: 500;
		background: #887245;
		color: #fff;
		margin: 0 auto;
		font-size: 9pt;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer div{
		font-family: "arial", "helvetica", sans-serif;
		margin: 0.05rem auto;
		text-align: center;
	}

/*footer-------------------------------------------------------------------------------*/
	#bubblechart{
		width: 100%;
		max-width: 940px;
		margin: 1rem auto;
	}
	.node rect {
    	fill-opacity: .9 !important;
   		shape-rendering: crispEdges !important;
   	}
	.node text {
  		pointer-events: none !important;
  		text-shadow: 0 1px 0 #fff !important;
  	}
	.link {
	  fill: none !important;
	  stroke: #c57900 !important;
	  stroke-opacity: .2 !important;
	}
	.link:hover {
	  stroke-opacity: .5 !important;
	}
/*-------------------------------------------------------------------------------------*/
    #mutiplevis .chart {
              float: right;
              padding-right: 5px;
              padding-bottom: 5px;
              padding-top:0;
              padding-left:0;
            }

    #mutiplevis .background {
              fill: none;
            }
    #mutiplevis .area {
              fill: rgba(186,171,122,0.7)!important;
            }

    #mutiplevis .line {
              fill: none;
              stroke: rgba(215,202,159,1);
              stroke-width: 1.4px;
            }

    #mutiplevis .title {
              font-size: 12px;
            }

    #mutiplevis .axis line, .grid line {
              stroke-width: .5px;
              shape-rendering: crispEdges;
              stroke: #fff;
              opacity: 0.5;
              pointer-events: none;
            }

    #mutiplevis .axis path {
              display: none;
            }

    #mutiplevis .hidden {
              display:none;
              opacity: 0.0;
            }

    #mutiplevis .label {
                fill: steelblue;
            }

    #mutiplevis .endpoint {
                fill: #666;
            }
    #sankeychart{
    	width: 100%;
		max-width: 600px!important;
		margin: 1rem auto;
    }
/*------------------------------------------------------------------------------------------------------*/
  .clearfix:before,
  .clearfix:after {
     content: ".";
     display: block;
     height: 0;
     visibility: hidden;
  }
  .clearfix:after {clear: both;}
  .clearfix {zoom: 1;} /* IE < 8 */
  