/* Common ------------------------------------------------------------------ */
	html, body, div, span, applet, object, svg, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, burger, nav, output, ruby, section, summary, time, mark, audio, video, {
		margin: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		background-color:#00152e;
		color:#fff;

	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, svg, video {
		display: block;
	}
	body {
		line、-height: 1;
		background-color:#00152e;

	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}
/* Body -------------------------------------------------------------------- */
	html {
/*		font-family: "georgia", serif;*/
		font-size: 16px;
		background-color:#00152e;
	}

	body {
	    margin: 0px;
	    background-color:#00152e;

	}
	header p{
		text-align: justify;
	}
	main p{
		text-align: justify;
	}
	header {
		font-family: "trajan-sans-pro", sans-serif;
		font-weight: 500;
		text-align: center;
		position: relative;
		animation: splash 2s forwards ease-out;
	}
	header #title {
		background: transparent url("../img/toutu.gif") center center no-repeat;
		background-size: cover;
		background-position-x: 25%;

	    display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		min-height: calc(100vh - 10rem);
		padding: 10rem 0 0 0;
	}
	header #title h1 {
		background-color: rgba(0, 0, 0, 0.2);
		font-size: 12.6vmin;
		line-height: 15vmin;
		letter-spacing: 1.8vmin;
		color: #fff;
		text-shadow: 0 7px 7px rgba(0, 0, 26, .5);
		opacity: 100;
		width: calc(100%);
		padding-top: 40px;
		padding-bottom: 40px;
		animation: splash 3s 1s forwards ease-out;
	}
	header #title h1 span {
		font-weight: 700;
		font-size: 4vmin;
		line-height: 5vmin;
		letter-spacing: 1.5vmin;
		display: block;
		margin-top: 3vmin;

	}

/* Section ----------------------------------------------------------------- */
	
	section {
		position: relative;
		padding: 1rem 0 1rem 0;
	}
		section h2 {
			font-weight: 700;
			font-size: 1.25rem;
			line-height: 2rem;
			letter-spacing: 3px;
			text-align: center;
			width: calc(100% - 40px);
			max-width: 715px;
			margin: 0 auto 1rem auto;
			color:#fff;
		}
		section > p {
			font-size: 1rem;
			line-height: 1.5rem;
			width: calc(100% - 40px);
			max-width: 600px;
			margin: 1rem auto;
			color:#fff;
		}
	
	#chapter0 {
		background:  center bottom repeat-x;
		background-size: 1800px 100px;
		transition: all 1s ease-in-out;
	}
	#chapter1 {
		background-size: 1800px 100px;
		transition: all 1s ease-in-out;
		background-color: #00152e;
		padding-top:0;
	}
	#chapter1 p {
		color: white;
	}
		#chapter0.fade,
		#chapter1.fade,
		#chapter2.fade,
		#chapter3.fade,
		#chapter4.fade {
			color: #ccd;
			background-color: #334;
		}
	#chapter2 {
		background:  url() center bottom repeat-x;
		background-size: 1800px 100px;
	}
	#chapter3 {
		background:  center bottom repeat-x;
		background-size: 1800px 100px;
	}
	#chapter2 p {
		color: white;
		padding-top:0px;
		text-align:justify;
	}



/* 图片的相关设置 ------------------------------------------------------------------ */

	figure {
		width: 100%;
		max-width: 470px;
		margin: 1rem auto;
	}
		figure.big {
			max-width: 960px;
			transition: none !important;
		}
			figure.big img {
				cursor: initial !important;
			}
		figure img {
			width: 100%;
		}
		figure figcaption,
		.scheme .caption {
			font-family: 'proxima-nova', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 0.8rem;
			line-height: 1.5rem;
			text-align: center;
			color: #99a;
			margin: .75rem 0 0 0;
		}

		.zoom img {
			cursor: initial;
		}
			.zoom img.magnify {
				cursor: initial;
				transform: none;
			}
		@media (min-width: 960px) {
			.zoom img {
				cursor: zoom-in;
				transform-origin: 50% 50%;
				transition: transform .5s ease-in-out;
			}
				.zoom img.magnify {
					cursor: zoom-out;
					transform: scale(2.0425532) !important;
				}
		}

/*footer-------------------------------------------------------------------------------*/

	footer {
		font-weight: 500;
		background: #887245;
		color: #fff;
		margin: 0 auto;
		font-size: 9pt;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer div{
		font-family: "arial", "helvetica", sans-serif;
		margin: 0.05rem auto;
		text-align: center;
	}
/*-----关于信息图的css-------------------------------------------------------------------------------------*/
.information {
	width:100%;
	height:100%;
	max-width: 1000px;
	margin: 0 auto;
}
/*----关于新的滚动图表的css------------------------------------------------------------------------------------*/
#chartpin{
	background:  center center no-repeat;
	width: 100vw;
	height:  100vh;
	position: relative;
}
#chartarea {
  	z-index: 10000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
  	position:absolute;
}
.chart-data{
    position: relative;
    width: 100%;
}
.chart-title-container p{
	text-align: center!important;
	margin: 10% auto ;
	color: white;
	font-size: 1.5rem;
}
.event {
	background: rgba(255, 255, 255,.5);
	position: relative;
	width: calc(100% - 80px);
	max-width: 1000px;
	margin: 80vh auto;
	padding: 20px;
	color: #fff;
}
/*vh为1%的视窗高度，这里可以让内容始终有一个视窗高度间隔*/
.event h3 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}
.event p {
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0 0 1.5rem 0;
}
.event p:last-of-type {
	margin: 0;
}
.event figure {
		width: 100%;
		max-width: 470px;
		margin: 1.5rem auto;
	}
.circle {
    background: white;
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid rgb(17, 17, 17);
    cursor: hand;
    cursor: pointer;    
}
.second-axis-container-wrapper{
    display: flex;
    justify-content: space-between;
}
.second-chart-axis-item {
  color: white;
  font-size: 18px;
  letter-spacing: 0px;
  text-align: center;
}
.tooltip {
    position: absolute;
    z-index: 100001;
}
.tooltip p {
    background-color: white;
    color: black;
    border: black 1px solid;
    padding: 2px;
}
  

/*new*/
.icon img{
			margin:0 auto;
			width: 100px;
			height: 100px;
		}

		.node rect {
		  fill-opacity: .9;
		  shape-rendering: crispEdges;
		};
		.node text {
		  pointer-events: none;
		  text-shadow: 0 1px 0 #fff;
		}
		.link {
		  fill: none;
		  stroke-opacity: .1;
		  stroke: #666;
		}
		.link:hover {
		  stroke-opacity: .5;
		}
	    .chart {
          float: left;
          padding-right: 8px;
          padding-bottom: 8px;
          padding-top:8px;
          padding-left:8px;
        }

        .background {
          fill: none;
        }

        .title {
          font-size: 12px;
        }

        .axis line, .grid line {
          stroke-width: .5px;
          shape-rendering: crispEdges;
          stroke: #fff;
          opacity: 0.5;
          pointer-events: none;
        }

        .axis path {
          display: none;
        }

        .hidden {
          display:none;
          opacity: 0.0;
        }

        .label {
            fill: steelblue;
        }

        .endpoint {
            fill: #666;
        }


            @font-face {
	        font-weight: normal;
	        font-style: normal;
            } 

            .cbp_tmtimeline {
             width: 60%;
	         margin: 0 auto;
	         padding: 0;
	         list-style: none;
	         position: relative;
             } 

            /* The line */
            .cbp_tmtimeline:before {
	         content: '';
	         position: absolute;
	         top: 0;
	         bottom: 0;
	         width: 10px;
	         background: #d35353;
	         left: 20%;
	         margin-left: -10px;
             }

            .cbp_tmtimeline > li {
	        position: relative;
             }

            /* The date/time */
            .cbp_tmtimeline > li .cbp_tmtime {
	        display: block;
	        width: 25%;
	        position: absolute;
            }

            .cbp_tmtimeline > li .cbp_tmtime span {
            margin-left: -80px;
	        text-align: right;
            }

            .cbp_tmtimeline > li .cbp_tmtime span:first-child {
	        font-size: 0.9em;
	        color: #d35353;

            }

            .cbp_tmtimeline > li .cbp_tmtime span:last-child {
	        font-size: 2.9em;
	        color: #d35353;
            }

           .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	        color: #d35353;
            }

           /* Right content */
           .cbp_tmtimeline > li .cbp_tmlabel {
	        margin: 0 0 15px 25%;
	        background: #d35353;
	        color: #fff;
	        padding: 1em;
	        font-size: 1.2em;
	        font-weight: 300;
	        line-height: 1.4;
	        position: relative;
	        border-radius: 5px;
            }

           .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	       background: #d35353;
            }

           .cbp_tmtimeline > li .cbp_tmlabel h2 { 
	       margin-top: 0px;
	       padding: 0 0 10px 0;
	       border-bottom: 1px solid rgba(255,255,255,0.4);
           }

           /* The triangle */
          .cbp_tmtimeline > li .cbp_tmlabel:after {
          right: 100%;
	      border: solid transparent;
	      content: " ";
	      height: 0;
	      width: 0;
	      position: absolute;
	      pointer-events: none;
	      border-right-color: #d35353;
	      border-width: 10px;
	      top: 10px;
          }

         .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	      border-right-color: #d35353;
          }

          /* The icons */
         .cbp_tmtimeline > li .cbp_tmicon {
	     width: 40px;
	     height: 40px;
	     font-family: 'ecoico';
	     speak: none;
	     font-style: normal;
	     font-weight: normal;
	     font-variant: normal;
	     text-transform: none;
	     font-size: 1.4em;
	     line-height: 40px;
	     -webkit-font-smoothing: antialiased;
	     position: absolute;
	     color: #fff;
	     background: #d35353;
	     border-radius: 50%;
	     box-shadow: 0 0 0 8px #ff7878;
	     text-align: center;
	     left: 20%;
	     top: 0;
	     margin: 0 0 0 -25px;
         }

        .cbp_tmicon-phone:before {
	     content: "\e000";
        }

        .cbp_tmicon-screen:before {
	    content: "\e001";
        }

        .cbp_tmicon-mail:before {
	    content: "\e002";
        }

       .cbp_tmicon-earth:before {
	   content: "\e003";
        }

       /* Example Media Queries */
       @media screen and (max-width: 65.375em) {

	   .cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	    }
       }

      @media screen and (max-width: 47.2em) {
	  .cbp_tmtimeline:before {
		display: none;
	  }

	  .cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	  }

	  .cbp_tmtimeline > li .cbp_tmtime span {
		text-align: right;
	  }

	  .cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	  }

	  .cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #d35353;
		top: -20px;
	  }

	  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
	 	border-bottom-color: #d35353;
	  }

	  .cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	  }	
	  a {
	  color: #f0f0f0;
	  text-decoration: none;
       }

      a:hover {
	  color: #000;
      }

      .main{
	  width: 90%;
	  max-width: 69em;
	  margin: 0 auto;
	  padding: 0 1.875em 3.125em 1.875em;
       }
     .img{
		width: 10%;
		padding: 15px;
	}
	 .button{
		background-color: white;
		color: #00152e;
		padding: 10px;
		font-size: 20px;
	}



     *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
      body, html { font-size: 100%; padding: 0; margin: 0;background-color:#00152e;}

      /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
      .clearfix:before, .clearfix:after { content: " "; display: table; }
      .clearfix:after { clear: both; }

      body {
      font-family: 'Lato', Calibri, Arial, sans-serif;background-color:#00152e;
       }
      }

/*时间轴-------------------------------------------------------------------------------*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
/* section */
.section{width:100%;margin:10px auto 0 auto;overflow:hidden;}
.section ul{width:100%;margin-right: 10px;}
.section ul li{float:left;margin-right:6px;margin-bottom:10px;display:inline;width:300px;height:350px;overflow:hidden;position:relative;}
.section ul li .photo{width:100%;height:350px;overflow:hidden;}
.section .rsp{width:200px;height:200px;overflow:hidden;position: absolute;background:#000;top:0px;left:0px;}
.section .text{position:absolute;width:200px;height:200px;left:-200px;top:0px;overflow:hidden;}
.section .text h3{width:200px;margin-top:50px;height:50px;line-height:30px;text-align:center;color:#FFFFFF;font-size:20px;}
.section .text a{text-decoration:none}
.section .text div{text-align:center;color:#FFFFFF;font-size:18px;}
